:root {
  --dark-prim: #0d0c1d;
  --dark-sec: #161b33;
  --dark-purple: #474973;
  --dark-gray: #a69cac;
  --dark-cream: #f1dac4;

  --light-prim: #f5e4d4;
  --light-sec: #bcb4c0;
  --light-purple: #676aa2;
  --light-blue: #36427f;
  --dark-purple: #332f6f;
}
